@use "sass:string";
@use "sass:math";
@use "../abstracts/variables" as v;

html {
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@function create-stars($n) {
  $stars: "#{math.random(v.$starFieldWidth)}px #{math.random(v.$starFieldHeight)}px #FFF";

  @for $i from 2 through $n {
    $stars: "#{$stars} , #{math.random(v.$starFieldWidth)}px #{math.random(v.$starFieldHeight)}px #FFF";
  }
  @return string.unquote($stars);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-#{v.$starFieldHeight}px)
      translateX(-#{v.$starFieldWidth}px);
  }
}

@keyframes animShootingStar {
  from {
    transform: translateY(0px) translateX(0px) rotate(-45deg);
    opacity: 1;
    height: 5px;
  }
  to {
    transform: translateY(-#{v.$starFieldHeight}px)
      translateX(-#{v.$starFieldWidth}px) rotate(-45deg);
    opacity: 1;
    height: 800px;
  }
}

@mixin star-template($numStars, $starSize, $scrollSpeed) {
  z-index: 10;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  animation: animStar $scrollSpeed linear infinite;
  &:after {
    content: " ";
    top: -(v.$starStartOffset);
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
  }
}

@mixin shooting-star-template($numStars, $starSize, $speed) {
  z-index: 10;
  width: $starSize;
  height: $starSize + 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  animation: animShootingStar $speed linear infinite;
}

.background-container {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #201c2f 0%, #100751 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  &__stars {
    @include star-template(v.$numStarOneStars, 1px, v.$starOneScrollDuration);
  }

  &__stars2 {
    @include star-template(v.$numStarTwoStars, 2px, v.$starTwoScrollDuration);
  }

  &__stars3 {
    @include star-template(
      v.$numStarThreeStars,
      3px,
      v.$starThreeScrollDuration
    );
  }

  &__comet {
    @include shooting-star-template(v.$numComet, 1px, 10s);
  }
}
